.post {
   display: flex;
   padding: 15px;
   border: 2px solid teal;
   justify-content: space-between;
   align-items: center;
   width: 800px;
   margin-top: 15px;
   transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
   overflow: auto;
   border-radius: 15px;

   &:hover {
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.076);
      // transform: translateY(-0.5rem);
   }

   .id {
      margin-left: 5px;
      visibility: hidden;
   }

   .post__btn{
      display: flex;
   }
}