* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home{
  display: flex;
  align-items: center;
  justify-content: center;
}

.About{
  display: flex;
  align-items: center;
  justify-content: center;

}
.Posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error{
  display: flex;
  justify-content: center;

  h1{
      color: red;
  }
}

.App {

  .loader {
    margin-top: 40px;
  }

}